apiVersion: apps/v1
kind: Deployment
metadata:
  name: pace-deployment
spec:
  selector:
    matchLabels:
      app: pace
  replicas: 1
  template:
    metadata:
      labels:
        app: pace
    spec:
      containers:
        - name: pace
          image: nutec/pace:v4.1.2
          ports:
            - containerPort: 8080
